
$main-white-color: rgba(255, 255, 255, 1);
$h-pb-gray-color: rgba(161, 161, 161, 1);
$main-blue-color: rgba(73, 133, 255, 1);
$main-dark-color: rgba(50, 50, 50, 1);
$main-gray-color: rgba(153, 153, 153, 1);
$black-color: rgba(0, 0, 0, 1);
$light-grey-color: rgba(224, 224, 224, 1);


